@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@500&family=Patrick+Hand&family=Roboto:wght@300&display=swap');
$primary: #82ae46;
$secondary: #ccc;
$ternary: #387918;
$dark: #ffffff;
$line : #000000;
$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Lora',Georgia, serif;
$font-tertiary: 'Amatic SC',cursive;
* {
  box-sizing: border-box;
}
.navbar {
  align-items: center;
  background: $dark;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 10px 50px;
  z-index: 1;
}

.push-left {
  margin-right: 20px;
}
a{
  text-decoration: none !important;
  color: $line;
}
a:hover{
  color: $ternary  !important;
}
/* Menu */
.hamburger {
  background: white;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 24px;
  position: relative;
  width: 30px;
  z-index: 1000;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }

  &-line {
    background: $ternary;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .5s ease-out;
    width: 100%;

    .hamburger:hover & {
      background: #777;
    }

    &-top {
      top: 3px;
    }

    .menu-active &-top {
      top: 50%;
      transform: rotate(45deg) translatey(-50%);
    }

    &-middle {
      top: 50%;
      transform: translatey(-50%);
    }

    .menu-active &-middle {
      left: 50%;
      opacity: 0;
      width: 0;
    }

    &-bottom {
      bottom: 3px;
    }

    .menu-active &-bottom {
      bottom: 50%;
      transform: rotate(-45deg) translatey(50%);
    }
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .25s ease-in;
  width: 380px;
  z-index: 1;
  li{
    height: 100%;
    width: 25%;
    font-weight: bold;
    margin: 0px 5px;
    padding: 5px;
  }
  li:hover{
   color: $primary;
    border-bottom: 0.2px solid;
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    background: $primary;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: translatey(-100%);
    text-align: center;
    li{
      height: auto;
    }
    li:hover{
      background: $dark;
    }
    .menu-active & {
      transform: translatey(0%);
      opacity: 1;
    }
  }
  .menu-item{
    width: 25%;
    text-align: center;
  }

  .menu-item a {
    color: $line;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: lighten($dark, 20);
      text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
      font-size: 13px;
      margin: 8px;
      font-family: $font-primary;
    }
  }
}
.dropdown-toggle::after{
  margin-top: 12px;
  margin-left: -8px;
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    margin-left: -10px;
  }
}
.sub-nav {
  -webkit-box-shadow: 1px 1px 1px 1px #ffffff;
  box-shadow: 1px 1px 1px 1px #808080;
  display: none;
  position: absolute;
  background-color: $dark;
  padding: 5px 5px;
  list-style: none;
  width: 10%;
  margin-top: 23px;
  margin-left: 130px;
  a{
    font-family: $font-primary;
    font-size: 13px;
  }
  li{
    width: 100%;
    margin: 1px;
  }
  li:hover{
    background: #cecece;
  }

  @media screen and (max-width: 768px) {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: auto;
    margin-left: 230px;
    li{
      color: $line;
    }
  }
}


li.menu-item.dropdown-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.top_bar{
  background: $primary;
  text-transform: uppercase;
  span{
    color: $dark;
    font-size: 12px;
    padding: 5px;
    font-family: $font-primary;
  }
  @media screen and (max-width: 768px) {
   .d-flex{
     display: flex !important;
     flex-direction: column !important;
     align-items: flex-start !important;
     align-content: flex-start !important;
     justify-content: flex-end !important;
   }
  }
}
li.account:hover{
  border: none !important;
}
.push_account{
  display: none;
  position: absolute;
  margin-right: 200px;
  margin-top: 30px;
  width: 10%;
  z-index: 1;
  @media screen and (max-width: 768px) {
    margin-right: 20px;
    margin-top: 30px;
  }
}
.push_account:hover{
  display: block;
}
.nav__link {
  &:hover + .sub-nav {
    display:block;
  }
}
a.nav__link
{
  font-size: 13px;
  font-family: $font-primary;
}
.sub-nav {
  &:hover {
    display:block;
    li{
      font-weight: inherit;
    }
  }
}
span#number_cart{
  color: $primary;
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    color: $line;
  }
}

