.ftco-section {
  padding: 6em 0;
  position: relative;
}
//ABOUT
.img-2{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .icon{
    width: 100px;
    height: 100px;
    background: rgba(157, 252, 109, 0.5);
    animation: pulse 2s infinite;
    border-radius: 50%;
    span{
      color: #ffffff;
      font-size: 24px;
    }
  }
}
.btn.btn-primary {
  background: #82ae46;
  border: 1px solid #82ae46;
  color: #fff;
  border-radius: 20px;
}


