<h2 class="mb-3">{{(post|async).title}}</h2>
<div class="icon-info">
    <li><i class="fa fa-user" aria-hidden="true"></i><span style="margin-left: 10px;">{{(post|async).author}}</span>
    </li>
    <li><i class="fa fa-calendar" aria-hidden="true"></i><span style="margin-left: 10px;">{{(post|async).date}}</span>
    </li>
    <li><i class="fa fa-comments" aria-hidden="true"></i><span style="margin-left: 10px;">0</span></li>
</div>
<br/>
<br/>
<div class="body-content" [innerHTML]="(post|async).content">
</div>

<app-commentfb></app-commentfb>
