<div id="content-wrapper">
    <div class="column">
        <img id=featured src="assets/images/product-2.jpg">
        <div id="slide-wrapper" >
            <img id="slideLeft" class="arrow" src="assets/images/arrow-left.png" (click)="onPrevClick()">
            <div id="slider">
                <img class="thumbnail active" src="assets/images/product-1.jpg" (click)="clickActive()">
                <img class="thumbnail" src="assets/images/product-2.jpg" >
                <img class="thumbnail" src="assets/images/product-3.jpg">
                <img class="thumbnail" src="assets/images/product-3.jpg">
                <img class="thumbnail" src="assets/images/product-3.jpg">
                <img class="thumbnail" src="assets/images/product-3.jpg">
            </div>
            <img id="slideRight" class="arrow" src="assets/images/arrow-right.png" (click)="onNextClick()">
        </div>
    </div>
</div>
