<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h6 class="mb-2" style="color: #82ae46">Change password</h6>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
        <div class="form-group">
            <label for="password_old">Password</label>
            <input [type]="show1 ? 'text' : 'password'" class="form-control" id="password_old" placeholder="Enter your pasword">
        </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
        <input class="form-check-input" type="checkbox" value="true" id="show1" (click)="passwordClick1()"/>
        <label class="form-check-label"  for="show1">
            Show
        </label>
    </div>
    <br/>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
        <div class="form-group">
            <label for="password_new">Password new</label>
            <input [type]="show2 ? 'text' : 'password'" class="form-control" id="password_new" placeholder="Enter your new pasword" />
        </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
        <input class="form-check-input" (click)="passwordClick2()" type="checkbox" value="true" id="show2" />
        <label class="form-check-label"  for="show2">
            Show
        </label>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
        <div class="form-group">
            <label for="repeat_password">Repeat Password</label>
            <input [type]="show3 ? 'text' : 'password'" class="form-control" id="repeat_password" placeholder="Repeat your new pasword" >
        </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
        <input class="form-check-input" (click)="passwordClick3()" type="checkbox" value="true" id="show3"/>
        <label class="form-check-label"  for="show3">
            Show
        </label>
    </div>
</div>
<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="text-right button-profile">
            <button type="button" name="cancel"  class="btn btn-secondary">Cancel</button>
            <button type="button" name="update" class="btn btn-primary">Update</button>
        </div>
    </div>
</div>
