.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}

.mat-ripple-element {
  display: none !important;
}

button.btn-secondary {
  margin-right: 10px;
  background: rgba(128, 128, 128, 0.51);
}

button.btn-secondary {
  margin-right: 10px;
  background: grey;
}

.button-profile {
  margin-bottom: 30px;
}