<div id="profile" class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">{{this.accountCurrent?.username}}</h5>
                            <h6 class="user-email">{{this.accountCurrent?.gmail}}</h6>
                        </div>
                        <div class="about">
                            <h5>About</h5>
                            <p>I'm Ky Anh. Full Stack Designer I enjoy creating user-centric, delightful and human
                                experiences.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-120">
                <div class="card-body">
                    <app-tab [accountCurrent]="accountCurrent"></app-tab>
                </div>
            </div>
        </div>
    </div>
</div>

