<section class="support">
    <div class="item">
        <div class="round">
            <div class="bore">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <div class="content">
            <h5 class="title">Free Shipping</h5>
            <span class="des">On order over $100</span>
        </div>
    </div>
    <div class="item">
        <div class="round bg2">
            <div class="bore">
                <i class="fas fa-carrot"></i>
            </div>
        </div>
        <div class="content">
            <h5 class="title">Always Fresh</h5>
            <span class="des">Product well package</span>
        </div>
    </div>
    <div class="item">
        <div class="round bg3">
            <div class="bore">
                <i class="fas fa-sun"></i>
            </div>
        </div>
        <div class="content">
            <h5 class="title">Superior Quality</h5>
            <span class="des">Quality Products</span>
        </div>
    </div>
    <div class="item">
         <div class="round bg4">
             <div class="bore">
                <i class="fas fa-headset"></i>
            </div>
        </div>

        <div class="content">
            <h5 class="title">Support</h5>
            <span class="des">24/7 Support</span>
        </div>
    </div>
</section>
