<div *ngIf="images && images.length > 0" class="carousel-container">
    <section *ngFor="let image of images; let i = index"
             [style.background-image]="'url('+image.imageSrc+')'"
             [class]="{'image-active':selectedIndex === i}"
    >
        <div class="overlay"></div>
        <span class="title-active">{{image.title}}</span>
        <span class="de-active">{{image.des}}</span>
        <br/>
        <button id="view_details" routerLink="/menu">View Details</button>
    </section>
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i = index"
              class="dot"
              [ngClass]="{'active':selectedIndex === i}"
              (click)="selectImage(i)"
        >
        </span>
    </div>
    <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
        <i class="fas fa-chevron-circle-left btn-left"></i>
    </button>
    <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
        <i class="fas fa-chevron-circle-right btn-right"></i>
    </button>

</div>
