<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Vegetable shop
                    </h6>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Menu
                    </h6>
                    <p>
                        <a href="#!" routerLink="/menu" routerLinkActive="true" class="text-reset">Shop</a>
                    </p>
                    <p>
                        <a href="#!" routerLink="/about" routerLinkActive="true" class="text-reset">About</a>
                    </p>
                    <p>
                        <a href="#!" routerLink="/contact" routerLinkActive="true" class="text-reset">Contact Us</a>
                    </p>
                    <p>
                        <a href="#!" routerLink="/blog" routerLinkActive="true" class="text-reset">Blog</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Nong Lam University</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        vegetable@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> 01 234 567 89</p>
                </div>
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mb-4">
                    <div style="width: 300px; height: auto">
                        <div class="fb-page" data-href="https://www.facebook.com/Vegetable-shop-107271118769165"
                             data-width="500"></div>
                    </div>
                </div>
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->