
<section>
    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="square" style="--i:5;"></div>
        <div class="container">
            <div class="form">
                <h2>LOGIN</h2>
                <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <!--                    <div class="error">-->
                    <!--                        <small id="emailHid" style="color: red"-->
                    <!--                               *ngIf="!email?.valid && (email?.dirty || email?.touched) ; else elseBlock">Email-->
                    <!--                            is invalid</small>-->
                    <!--                        <small id="emailHid" style="color: red"-->
                    <!--                            *ngIf="email.invalid && (email.dirty || email.touched) ; else elseBlock">Email-->
                    <!--                            is invalid</small>-->
                    <!--                        <ng-template #elseBlock><small>&nbsp;</small></ng-template>-->
                    <!--                    </div>-->
                    <div *ngIf="email.invalid && (email.dirty || email.touched);else elseBlock"
                         class="error">
                        <small style="color: red"
                               class="item_error" *ngIf="email.errors?.['required']"> Gmail is required.
                        </small>
                        <small style="color: red"
                               class="item_error" *ngIf="email.errors?.['minlength']"> Gmail must contain @.
                        </small>
                    </div>
                    <ng-template #elseBlock><small>&nbsp;</small></ng-template>
                    <div class="inputBx">
                        <input type="email" id="form3Example3"
                               ngModel name="email" minlength="8"
                               #email="ngModel" aria-describedby="emailHid" required
                        />
                        <span>Gmail</span>
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="error">
                        <small id="passwordHid" style="color: red"
                               *ngIf="!password?.valid && (password?.dirty || password?.touched); else elseBlock">Password
                            is
                            invalid</small>
                        <ng-template #elseBlock><small>&nbsp;</small></ng-template>
                    </div>
                    <div class="inputBx">
                        <input [type]="show ? 'text' : 'password'" id="form3Example4"
                               name="password" ngModel minlength="6" #password="ngModel"
                               aria-describedby="passwordHid"
                        />
                        <span>Password</span>
                        <a class="password-control" (click)="passwordClick()"></a>
                        <i class="fas fa-key"></i>
                    </div>
                    <div class="inputBx">
                        <input class="form-check-input" type="checkbox" value="true" id="remember"/>
                        <label class="form-check-label" style="color:#FFFFFF" for="remember">
                            Remember
                        </label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Log in">
                    </div>
                    <div class="inputBx">
                        <div class="g-signin2"></div>
                    </div>
                </form>
                <p>Forgot password? <a href="#" routerLink="/forgotPassword" routerLinkActive="true">Click Here</a></p>
                <p>Don't have an account? <a href="#" routerLink="/register" routerLinkActive="true">Sign up</a></p>
            </div>
        </div>

    </div>
</section>
<app-root></app-root>
<script>
    // gapi.signin2.render('g-signin2', {
    //     'scope': 'profile email',
    //     'width': 800,
    //     'height': 50,
    //     'longtitle': true,
    //     'onsuccess': param => this.onSignIn(param),
    //     'onfailure': this.onFailure()
    // });

</script>
