<app-banner [name]="namePage" [image]="imageBg"></app-banner>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <div *ngIf="id==null;else detailPost">
                    <app-list-post></app-list-post>
                </div>
                <ng-template #detailPost>
                    <app-detail-post [post]="post"></app-detail-post>
                </ng-template>
            </div>
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">New Post</h3>
                    <div *ngFor="let post of (posts|async); let i = index" class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" [style.background-image]="'url('+post.image+')'"></a>
                        <app-recent-post-card [post]="post"></app-recent-post-card>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Recent Post</h3>
                    <div *ngFor="let post of (posts|async); let i = index" class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" [style.background-image]="'url('+post.image+')'"></a>
                        <app-recent-post-card [post]="post"></app-recent-post-card>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Popular Post</h3>
                    <div *ngFor="let post of (posts|async); let i = index" class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" [style.background-image]="'url('+post.image+')'"></a>
                        <app-recent-post-card [post]="post"></app-recent-post-card>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Description</h3>
                    <p>{{(post|async).description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

