/* Error: Undefined mixin.
 *    ,
 * 59 |       @include border-radius(30px);
 *    |       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   banner.component.scss 59:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 59 \2502        @include border-radius(30px);\d\a    \2502        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   banner.component.scss 59:7  root stylesheet";
}
