<div id="contact" class="container py-5 z-depth-1">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">
        <!--Google map-->
        <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </div>
        <!--Google Maps-->
        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-5">
            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h3 class="font-weight-bold">Contact Us</h3>
                <form id="contactForm" (ngSubmit)="onSubmit()" #contactForm="ngForm">
                    <!-- Material outline input -->
                    <div class="md-form md-outline mt-3">
                        <input type="text" id="name" class="form-control" placeholder="Your name" name="name" ngModel #name="ngModel">
                    </div>

                    <!-- Material outline input -->
                    <div class="md-form md-outline mt-3">
                        <input type="email" id="form_email" placeholder="E-mail" class="form-control" name="form_email" ngModel
                               #form_email="ngModel">
                    </div>

                    <!-- Material outline input -->
                    <div class="md-form md-outline">
                        <input type="text" id="form_subject" placeholder="Subject" class="form-control" name="form_subject" ngModel
                               #form_subject="ngModel">
                    </div>

                    <!--Material textarea-->
                    <div class="md-form md-outline mb-3">
                        <textarea ngModel id="form_message" name="form_message" placeholder="How we can help?" class="md-textarea form-control"
                                  rows="5" #form_message="ngModel"></textarea>
                    </div>
                    <button type="submit" class="btn btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i>
                    </button>
                </form>


            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row text-center">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

                <i class="fas fa-map-marker-alt fa-2x "></i>

                <p class="font-weight-bold my-3">Address</p>

                <p class="text-muted">New York, 94126, United States</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                <i class="fas fa-phone fa-2x"></i>

                <p class="font-weight-bold my-3">Phone number</p>

                <p class="text-muted">+ 01 234 567 89</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                <i class="fas fa-envelope fa-2x"></i>

                <p class="font-weight-bold my-3">E-mail</p>

                <p class="text-muted">info@gmail.com</p>

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Content-->
</div>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
    emailjs.init('ZMVQv0o6piZ7BRGkb')
</script>