$font-primary: 'Poppins', Arial, sans-serif;
$font-secondary: 'Lora', Georgia, serif;
$font-tertiary: 'Amatic SC', cursive;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #84ba38;
$secondary: #ffe6eb;

$color-1: #e4b2d6;
$color-2: #dcc698;
$color-3: #a2d1e1;
$color-4: #dcd691;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

.ftco-section {
  padding: 6em 0;
  position: relative;
}

//CHECKOUT

.circle {
  width: 300px;
  height: 300px;
  @include border-radius(50%);
  margin: 0 auto;
  background: rgba(255, 255, 255, .8);

  h2 {
    font-size: 50px;
  }
}


.ftco-social {
  padding: 0;

  li {
    list-style: none;
    margin-right: 10px;
  }
}
