$primary: #82ae46;
$secondary: #ccc;

.search_view {
  display: flex;
  width: auto !important;

  .search_box {
    position: absolute;
    width: 25%;
    background-color: white;
    top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.search-bar {
  display: flex;
  align-items: center;

  .fa-search {
    margin-left: 5px;
    color: $primary;
  }

  .group-search {

  }
}

.search_box {
  width: 300px;
  background-color: whitesmoke;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
  box-shadow: 2px 2px 2px 2px #5a5a5a;
}
