<div class="grid-container container">
        <div class="col_bg" style="background-image: url('../../../../../assets/images/category.jpg')">
            <h4 class="name">Vegetable</h4>
            <h5 class="des">Protect the health of every home</h5>
            <button class="btn_now">Shop now</button>
        </div>
    <div  *ngIf="categorys && categorys.length < 5" class="introduce grid-container1">
        <div *ngFor="let category of categorys; let i = index"
             class="grid-item"
             [style.background-image]="'url('+category.imageSrc+')'">
            <span class="title">{{category.name}}</span>
        </div>
    </div>
</div>
