$font-primary: 'Poppins', Arial, sans-serif;
$font-secondary: 'Lora', Georgia, serif;
$font-tertiary: 'Amatic SC', cursive;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #84ba38;
$secondary: #ffe6eb;

$color-1: #e4b2d6;
$color-2: #dcc698;
$color-3: #a2d1e1;
$color-4: #dcd691;


.cart-detail {
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, .05);

  &.cart-total {
    border: 1px solid rgba(0, 0, 0, .05);
  }

  .btn-primary {
    display: block;
    width: 100%;
  }
}

// CART TOTAL
.cart-wrap {
  .btn-primary {
    display: inline-block;
  }
}

.cart-total {
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: 20px;

  h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  p {
    width: 100%;
    display: block;

    span {
      display: block;
      width: 50%;
    }

    &.total-price {
      span {
        text-transform: uppercase;

        &:last-child {
          color: $black;
          font-weight: 600;
        }
      }
    }
  }

  hr {
    //background: rgba(255,255,255,.1);
  }
}

.billing-heading {
  font-size: 24px;
}