<div class="cart-detail cart-total p-3 p-md-4">
    <h3 class="billing-heading mb-4">Cart Total</h3>
    <p class="d-flex">
        <span>Subtotal</span>
        <span>${{cart?.getDetailSize()}}</span>
    </p>
    <p class="d-flex">
        <span>Delivery</span>
        <span>$0.00</span>
    </p>
    <p class="d-flex">
        <span>Discount</span>
        <span>$3.00</span>
    </p>
    <hr>
    <p class="d-flex total-price">
        <span>Total</span>
        <span>${{cart?.getTotalPriceAndDiscount()|currency :'USD' :true: '1.0-3'}}</span>
    </p>
</div>