<div id="modal">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
        <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modalRef.close()"
        ></button>
    </div>
    <div class="modal-body">...</div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="modalRef.close()">
            Close
        </button>
        <button type="button" class="btn btn-primary" style="background: #0f9d58">Save changes</button>
    </div>
</div>
<!--(click)="modalRef.close()"-->