<app-banner [name]="namePage" [image]="imageBg"></app-banner>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category nav nav-tabs mb-3 justify-content-center" role="tablist"  id="myTab0">
                    <li  class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="all-tab0"
                                data-mdb-toggle="tab"
                                data-mdb-target="#home0"
                                type="button"
                                role="tab"
                                aria-controls="all"
                                [attr.aria-selected]="selected === 'all'"
                                (click) = "selectCategory('all')"
                                [class.active]="isActive('all')">All</button>
                    </li>
                    <ng-template let-category ngFor [ngForOf]="(categories|async)">
                        <li  class="nav-item" role="presentation">
                            <button class="nav-link active"
                                    id="{{category.name}}-tab0"
                                    data-mdb-toggle="tab"
                                    data-mdb-target="#{{category.name}}0"
                                    type="button"
                                    role="tab"
                                    aria-controls="{{category.name}}"
                                    (click) = "selectCategory(category.id)"
                                    [attr.aria-selected]="selected === category.id"
                                    [class.active]="isActive(category.id)">{{category.name}}</button>
                        </li>
                        <!--                        <li><a href="#">{{category.name}}</a></li>-->
                    </ng-template>
                </ul>
            </div>
        </div>
        <div class="sort">
                <label class="label" for="gsearch">Search </label>
                <input type="search" class="item-orderby" id="gsearch" name="gsearch">
             <label class="label" for="orderby">Sort </label>
            <select name="orderby" class="item-orderby" id="orderby">
                <option value="menu_order">Default</option>
                <option value="popularity">Popularity</option>
                <option value="date">Latest</option>
                <option value="price">Price: low to high</option>
                <option value="price-desc">Price: high to low </option>
            </select>
            <label class="label" for="show">Display </label>
            <select name="show" class="item-orderby" id="show">
                <option value="64">Show 64</option>
                <option value="32">Show 32</option>
                <option value="16">Show 16</option>
                <option value="12">Show 12</option>
                <option value="8">Show 8</option>
                <option value="4">Show 4</option>
            </select>
        </div>

        <div class="tab-content" id="myTabContent0">
            <div class="row tab-pane fade show active"
                 id="ex1-tabs-1"
                 role="tabpanel"
                 aria-labelledby="ex1-tab-1"
                 [class.show]="setActive('all')"
                 [class.active]="setActive('all')">
            <app-list-product [column]="4" [row]="4" [products]="this.mapCategories.get('all')" class="row"></app-list-product>
            </div>
            <ng-template let-category ngFor [ngForOf]="(categories|async)">
                <div class="row tab-pane fade"
                     id="{{category.id}}"
                     role="tabpanel"
                     aria-labelledby="{{category.name}}-tab-1"
                     [class.show]="setActive(category.id)"
                     [class.active]="setActive(category.id)">
                    <app-list-product [column]="4" [row]="4" [products]="this.mapCategories.get(category.id)" class="row"></app-list-product>
                </div>
            </ng-template>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <app-pagingation [current]="current"
                                     [total]="(total|async)"
                                     [limit]="limit"
                                     (goTo)="onGoTo($event)"
                                     (next)="onNext($event)"
                                     (previous)="onPrevious($event)">
                    </app-pagingation>
                </div>
            </div>
        </div>
    </div>
</section>
