@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
:root {
  #2a3d50: hsl(210, 31%, 24%);
  #2a3d50-h: 210;
  #2a3d50-s: 31%;
  #2a3d50-l: 24%;
  #2b96de: hsl(204, 73%, 52%);
  #2b96de-h: 204;
  #2b96de-s: 73%;
  #2b96de-l: 52%;
  white: hsl(0, 0%, 100%);
  white-h: 0;
  white-s: 0%;
  white-l: 100%;
  #edf1f2: hsl(192, 15%, 94%);
  #edf1f2-h: 192;
  #edf1f2-s: 15%;
  #edf1f2-l: 94%;
  #e94a35: hsl(7, 80%, 56%);
  #e94a35-h: 7;
  #e94a35-s: 80%;
  #e94a35-l: 56%;
  --font-primary: "Source Sans Pro", sans-serif;
}

.cd-cart::before {
  content: "";
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.cd-cart--open::before {
  opacity: 1;
  visibility: visible;
}

.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 6%;
  transition: transform 0.2s;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}
.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content {
  transform: translateY(150px);
}
@media (min-width: 80rem) {
  .cd-cart__trigger,
.cd-cart__content {
    bottom: 40px;
  }
}

.cd-cart__trigger {
  z-index: 3;
  height: 72px;
  width: 72px;
  overflow: visible;
}
.cd-cart__trigger::after, .cd-cart__trigger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
  width: 100%;
  background: url(https://pngimg.com/uploads/shopping_cart/small/shopping_cart_PNG15.png) no-repeat 0 0;
  transition: opacity 0.2s, transform 0.2s;
  background-size: contain;
}
.cd-cart__trigger::after {
  background-position: -72px 0;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cd-cart--open .cd-cart__trigger::before {
  opacity: 0;
}
.cd-cart--open .cd-cart__trigger::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}
.cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cd-cart--open .cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart__count {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 39px;
  background: var(#e94a35);
  color: var(white);
  font-size: var(--text-sm);
  font-weight: bold;
  border-radius: 50px;
  border: #0f9d58 3px solid;
  text-indent: 0;
  transition: transform 0.5s 0.5s;
  background: wheat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-cart__count li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-fill-mode: forwards;
  animation-duration: 0.15s;
  list-style-type: none;
}
.cd-cart__count li:last-of-type {
  visibility: hidden;
}

.cd-cart__count--update li:last-of-type {
  animation-name: cd-qty-enter;
}

.cd-cart__count--update li:first-of-type {
  animation-name: cd-qty-leave;
}

.cd-cart--open .cd-cart__count {
  transition: transform 0.2s 0s;
  transform: scale(0);
}

.cd-cart--empty .cd-cart__count {
  transform: scale(1);
}

.cd-cart__content {
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}

.cd-cart__layout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: var(--radius);
  transition: height 0.4s 0.1s, width 0.4s 0.1s, box-shadow 0.3s;
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: var(white);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

.cd-cart--open .cd-cart__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.cd-cart__header, .cd-cart__body {
  opacity: 0;
  padding-left: calc(var(--space-sm) * 1.1);
  padding-right: calc(var(--space-sm) * 1.1);
  background: whitesmoke;
}

.cd-cart--open .cd-cart__header,
.cd-cart--open .cd-cart__body {
  opacity: 1;
  display: flex;
  padding: 10px;
}

.cd-cart__header {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius) var(--radius) 0 0;
  height: 40px;
  line-height: 40px;
  background-color: var(white);
  transition: opacity 0.2s 0s;
  border-bottom: 1px solid hsl(var(str-replace(str-replace(var(white), "var("), ")")-h), var(str-replace(str-replace(var(white), "var("), ")")-s), calc(var(str-replace(str-replace(var(white), "var("), ")")-l) * 0.9));
}
.cd-cart__header h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: calc(var(--text-xs) * 1.1);
  font-weight: 700;
  letter-spacing: 0.1em;
}

.cd-cart--open .cd-cart__header {
  transition: opacity 0.2s 0.2s;
}

.cd-cart__undo {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  color: hsl(var(str-replace(str-replace(var(#2a3d50), "var("), ")")-h), var(str-replace(str-replace(var(#2a3d50), "var("), ")")-s), calc(var(str-replace(str-replace(var(#2a3d50), "var("), ")")-l) * 1.2));
  font-size: var(--text-xs);
}
.cd-cart__undo a {
  text-decoration: underline;
  color: var(#2a3d50);
}
.cd-cart__undo a:hover {
  color: var(#2b96de);
}

.cd-cart__undo--visible {
  opacity: 1;
  visibility: visible;
}

.cd-cart__body {
  flex-grow: 1;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.2s;
}
.cd-cart__body ul {
  position: relative;
  padding-bottom: 60px;
}
@media (min-width: 64rem) {
  .cd-cart__body ul {
    padding-bottom: 90px;
  }
}

.cd-cart--open .cd-cart__body {
  transition: opacity 0s;
}
.cd-cart--open .cd-cart__body li {
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  opacity: 1;
  transform: translateX(0);
}
.cd-cart--open .cd-cart__body li:nth-of-type(2) {
  transition-duration: 0.4s;
}
.cd-cart--open .cd-cart__body li:nth-of-type(3) {
  transition-duration: 0.5s;
}
.cd-cart--open .cd-cart__body li:nth-of-type(4), .cd-cart--open .cd-cart__body li:nth-of-type(5) {
  transition-duration: 0.55s;
}

.cd-cart__product {
  position: relative;
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0s 0.2s, transform 0s 0.2s;
  display: flex;
}
.cd-cart__product:not(:last-of-type) {
  margin-bottom: 12px;
}
.cd-cart__product a {
  text-decoration: none;
}

.cd-cart__product--deleted {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  animation: cd-item-slide-out 0.3s forwards;
}

.cd-cart__product--deleted.cd-cart__product--undo {
  animation: cd-item-slide-in 0.3s forwards;
}

.cd-cart__product--deleted + .cd-cart__product {
  animation: cd-item-move-up-mobile 0.3s;
  animation-fill-mode: forwards;
}
@media (min-width: 64rem) {
  .cd-cart__product--deleted + .cd-cart__product {
    animation: cd-item-move-up 0.3s;
  }
}

.cd-cart__product--undo + .cd-cart__product {
  animation: cd-item-move-down-mobile 0.3s;
  animation-fill-mode: forwards;
}
@media (min-width: 64rem) {
  .cd-cart__product--undo + .cd-cart__product {
    animation: cd-item-move-down 0.3s;
  }
}

.cd-cart__image {
  display: inline-block;
  width: 50px;
  flex-shrink: 0;
}
.cd-cart__image img {
  display: block;
}
@media (min-width: 64rem) {
  .cd-cart__image {
    width: 90px;
  }
}

.cd-cart__details {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: calc(var(--space-sm) * 1.1);
  padding-left: calc(var(--space-xs) * 1.2);
}
.cd-cart__details h3 {
  font-weight: bold;
  width: 70%;
  font-size: calc(var(--text-sm) * 1.15);
}
.cd-cart__details h3 a {
  color: var(#2a3d50);
}
.cd-cart__details h3 a:hover {
  color: var(#2b96de);
}

.cd-cart__price {
  width: 30%;
  text-align: right;
  font-size: calc(var(--text-sm) * 1.1);
  font-weight: bold;
}

.cd-cart__actions {
  display: flex;
  font-size: calc(var(--text-xs) * 1.1);
}

.cd-cart__delete-item, .cd-cart__quantity {
  color: hsl(var(str-replace(str-replace(var(#2a3d50), "var("), ")")-h), var(str-replace(str-replace(var(#2a3d50), "var("), ")")-s), calc(var(str-replace(str-replace(var(#2a3d50), "var("), ")")-l) * 1.2));
  backface-visibility: hidden;
}

.cd-cart__delete-item {
  margin-right: var(--space-sm);
}
.cd-cart__delete-item:hover {
  color: var(#e94a35);
}

.cd-cart__quantity {
  display: flex;
}
.cd-cart__quantity label {
  margin-right: var(--space-xxs);
}

.cd-cart__select {
  position: relative;
}
.cd-cart__select select {
  position: relative;
  padding: 0 var(--space-md) 0 0;
  cursor: pointer;
  color: currentColor;
}
.cd-cart__select select:focus {
  outline: none;
  color: var(#2a3d50);
  box-shadow: 0 1px 0 currentColor;
}
.cd-cart__select .icon {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  color: currentColor;
  pointer-events: none;
}
@media (min-width: 64rem) {
  .cd-cart__select select {
    padding-right: var(--space-sm);
  }
}

.cd-cart__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: var(white);
}

.cd-cart__checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: var(#2b96de);
  color: hsla(var(str-replace(str-replace(var(white), "var("), ")")-h), var(str-replace(str-replace(var(white), "var("), ")")-s), var(str-replace(str-replace(var(white), "var("), ")")-l), 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: var(--text-md);
  font-weight: 600;
  transition: all 0.2s 0s;
}
.cd-cart__checkout:hover {
  background: hsl(var(str-replace(str-replace(var(#2b96de), "var("), ")")-h), var(str-replace(str-replace(var(#2b96de), "var("), ")")-s), calc(var(str-replace(str-replace(var(#2b96de), "var("), ")")-l) * 1.08));
}
.cd-cart__checkout em {
  position: relative;
  display: inline-block;
  transform: translateX(40px);
  transition: transform 0s 0.2s;
}
.cd-cart__checkout .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  opacity: 0;
  transition: opacity 0.2s;
  color: currentColor;
}

.cd-cart--open .cd-cart__checkout {
  color: var(white);
  transition: color 0.2s 0.3s;
}
.cd-cart--open .cd-cart__checkout em {
  transform: translateX(0);
  transition: transform 0.2s 0.3s, padding 0.2s 0s;
}
.cd-cart--open .cd-cart__checkout:hover em {
  padding-right: 30px;
}
.cd-cart--open .cd-cart__checkout:hover .icon {
  opacity: 1;
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 62px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 102px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 62px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 102px;
  }
}
@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
}
demo style body {
  background-color: var(#edf1f2);
}

.cd-main h1 {
  color: var(#2a3d50);
}

.cd-add-to-cart,
.cd-article-link {
  display: inline-block;
  padding: var(--space-sm) var(--space-md);
  border-radius: 50em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: var(--text-sm);
  transition: all 0.2s;
}

.cd-add-to-cart {
  background: var(#2b96de);
  color: var(white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-add-to-cart:hover {
  background: hsl(var(str-replace(str-replace(var(#2b96de), "var("), ")")-h), var(str-replace(str-replace(var(#2b96de), "var("), ")")-s), calc(var(str-replace(str-replace(var(#2b96de), "var("), ")")-l) * 1.1));
}
.cd-add-to-cart:active {
  transform: scale(0.9);
}

.cd-article-link {
  color: var(#2a3d50);
  background-color: hsl(var(str-replace(str-replace(var(#edf1f2), "var("), ")")-h), var(str-replace(str-replace(var(#edf1f2), "var("), ")")-s), calc(var(str-replace(str-replace(var(#edf1f2), "var("), ")")-l) * 0.9));
}
.cd-article-link:hover {
  background-color: hsl(var(str-replace(str-replace(var(#edf1f2), "var("), ")")-h), var(str-replace(str-replace(var(#edf1f2), "var("), ")")-s), calc(var(str-replace(str-replace(var(#edf1f2), "var("), ")")-l) * 0.95));
}

#cart_dynamic {
  width: 440px !important;
}

.cd-cart__checkout {
  font-size: 20px;
}

.cd-cart__footer {
  text-align: center;
  background: #0f9d58;
  color: white;
}

a.cd-cart__checkout {
  width: 100%;
  letter-spacing: 4px;
}

.cd-cart__body {
  margin-bottom: 72px;
}

/*# sourceMappingURL=cart-dynamic.component.css.map */
