<div class="cd-cart js-cd-cart"
    [ngClass]="emptyCart?'cd-cart--empty':(openCart?'cd-cart--open':'')"
    (click)="openCartAction()">
    <a  class="cd-cart__trigger text-replace">
        <ul class="cd-cart__count"> <!-- cart items count -->
            <li>{{getSizeCart()}}</li>
            <li>{{getSizeCart()}}</li>
        </ul> <!-- .cd-cart__count -->
    </a>

    <div class="cd-cart__content"  [ngStyle]="openCart?'':{'display':'none'}">
        <div class="cd-cart__layout">
            <header class="cd-cart__header">
                <h2>Cart</h2>
                <span class="cd-cart__undo">Item removed. <a >Undo</a></span>
            </header>

            <div class="cd-cart__body">
                <ul>
                    <!-- products added to the cart will be inserted here using JavaScript -->
                    <li  *ngFor="let cartItem of getListProductInCart(); let i = index" class="cd-cart__product">
                        <app-cart-dynamic-body [cartItem]="cartItem"></app-cart-dynamic-body>
                    </li>
                </ul>
            </div>

            <footer class="cd-cart__footer">
                <a  class="cd-cart__checkout">
                    <em>Checkout - $<span>0</span>
                        <svg class="icon icon--sm" viewBox="0 0 24 24"><g fill="none" stroke="currentColor"><line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12"/><polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 "/></g>
                        </svg>
                    </em>
                </a>
            </footer>
        </div>
    </div> <!-- .cd-cart__content -->
</div> <!-- cd-cart -->