<div class="container">
    <div class="row justify-content-center mb-3 pb-3">
        <div class="col-md-12 heading-section text-center">
            <span class="subheading">Featured Products</span>
            <h2 class="mb-4">Our Products</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>
    </div>
    <div class="row">
        <app-list-product [column]="4" [row]="4" [products]="products" class="row"></app-list-product>
    </div>
    <a href="#" id="more_home">More</a>
</div>

