<section>
    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="square" style="--i:5;"></div>
        <div class="container">
            <div class="form">
                <h2>CHANGE PASSWORD</h2>
                <form id="changePassForm" (ngSubmit)="onSubmit()" #changePassForm="ngForm">
                    <!--                    code -->
                    <div *ngIf="code.invalid && (code.dirty || code.touched);else elseBlock"
                         class="error">
                        <small style="color: red"
                               class="item_error" *ngIf="code.errors?.['required']"> Code is required.
                        </small>

                    </div>
                    <ng-template #elseBlock><small>&nbsp;</small></ng-template>
                    <div class="inputBx">
                        <input type="text" id="form3Example3"
                               ngModel name="code" minlength="6"
                               #code="ngModel" aria-describedby="emailHid" [required]="code?.value !== null"
                        />
                        <span>Code</span>
                        <i class="fas fa-user-circle"></i>
                    </div>

                    <!--                    old pass-->
                    <div class="error">
                        <small id="oldPasswordHid" style="color: red" class="item_error"
                               *ngIf="!oldPassword?.valid && (oldPassword?.dirty || oldPassword?.touched); else elseBlock">
                            Old password
                            is
                            invalid</small>
                        <ng-template #elseBlock><small>&nbsp;</small></ng-template>
                    </div>
                    <div class="inputBx">
                        <input [type]="show ? 'text' : 'password'"
                               name="oldPassword" ngModel minlength="6" #oldPassword="ngModel"
                               aria-describedby="oldPasswordHid" [required]="oldPassword?.value !== null"
                        />
                        <span>Old password</span>
                        <a class="password-control" (click)="passwordClick()"></a>
                        <i class="fas fa-key"></i>
                    </div>

                    <!--                    new pass-->
                    <div class="error">
                        <small id="newPasswordHid" style="color: red" class="item_error"
                               *ngIf="!newPassword?.valid && (newPassword?.dirty || newPassword?.touched); else elseBlock">New
                            password
                            is
                            invalid</small>
                        <ng-template #elseBlock><small>&nbsp;</small></ng-template>
                    </div>
                    <div class="inputBx">
                        <input [type]="show2 ? 'text' : 'password'"
                               name="newPassword" ngModel minlength="6" #newPassword="ngModel"
                               aria-describedby="newPasswordHid" [required]="newPassword?.value !== null"
                        />
                        <span>New password</span>
                        <a class="password-control" (click)="passwordClick2()"></a>
                        <i class="fas fa-key"></i>
                    </div>

                    <!--                    retype new pass-->
                    <div class="error">
                        <small id="passwordHid" style="color: red" class="item_error"
                               *ngIf="!retNewPassword?.valid && (retNewPassword?.dirty || retNewPassword?.touched)|| !(retNewPassword.value === newPassword.value); else elseBlock">Retyped
                            new password
                            is
                            invalid</small>
                        <ng-template #elseBlock><small>&nbsp;</small></ng-template>
                    </div>
                    <div class="inputBx">
                        <input [type]="show3 ? 'text' : 'password'" id="form3Example4"
                               name="retNewPassword" ngModel minlength="6" #retNewPassword="ngModel"
                               aria-describedby="passwordHid" [required]="retNewPassword?.value !== null"
                        />
                        <span>Retype new password</span>
                        <a class="password-control" (click)="passwordClick3()"></a>
                        <i class="fas fa-key"></i>
                    </div>

                    <div class="inputBx">
                        <input type="submit" value="Submit">
                    </div>

                </form>

            </div>
        </div>

    </div>
</section>

