<div class="row" id="cart-item">
    <div class="col-lg-2 col-md-12 mb-lg-0">
        <!-- Image -->
        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light" id="img">
            <img src="{{cartItem.product.image}}"
                 class="w-100" alt="Blue Jeans Jacket" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
        </div>
        <!-- Image -->
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- Data -->
        <p><strong>{{cartItem.product.name}}</strong></p>
        <p>Grams: {{cartItem.product.grams}}g</p>
        <p>Price: ${{cartItem.product.price}}</p>
        <button type="button" class="btn bt-setup btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                title="Remove item">
            <i class="fas fa-trash"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                title="Move to the wish list">
            <i class="fas fa-heart"></i>
        </button>
        <!-- Data -->
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- Quantity -->
        <div class="d-flex mb-4" style="max-width: 200px">
            <button class="btn bt-setup px-3 me-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="downQuantity()">
                <i class="fas fa-minus"></i>
            </button>

            <div class="form-outline">
                <input id="form1" min="9" name="quantity" value="{{cartItem.quantity}}" type="number" class="form-control" />
            </div>

            <button class="btn bt-setup px-3 ms-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="upQuantity()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <!-- Quantity -->

        <!-- Price -->
        <p class="text-center">
            <strong>TotalPrice:&nbsp;{{cartItem.getTotalPrice()}}</strong>
        </p>
        <!-- Price -->
    </div>
</div>