<section>
    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="square" style="--i:5;"></div>
        <div class="container">
            <div class="form">
                <h2>FORGOT PASSWORD</h2>
                <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">

                    <div *ngIf="email.invalid && (email.dirty || email.touched);else elseBlock"
                         class="error">
                        <small style="color: red"
                               class="item_error" *ngIf="email.errors?.['required']"> Gmail is required.
                        </small>
                        <small style="color: red"
                               class="item_error" *ngIf="email.errors?.['minlength']"> Gmail must contain @.
                        </small>
                    </div>
                    <ng-template #elseBlock><small>&nbsp;</small></ng-template>
                    <div class="inputBx">
                        <input type="email" id="form3Example3"
                               ngModel name="email" minlength="8"
                               #email="ngModel" aria-describedby="emailHid" required
                        />
                        <span>Gmail</span>
                        <i class="fas fa-user-circle"></i>
                    </div>


                    <div class="inputBx">
                        <input type="submit" value="Submit">
                    </div>
                    <div class="inputBx">
                        <div class="g-signin2"></div>
                    </div>
                </form>
                <p>You have an account? <a href="#" routerLink="/" routerLinkActive="true">Sign in</a></p>
                <p>Don't have an account? <a href="#" routerLink="/register" routerLinkActive="true">Sign up</a></p>
            </div>
        </div>

    </div>
</section>

