@import "assets/scss/bootstrap/bootstrap";
@import "assets/scss/bootstrap/variables";
$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Lora',Georgia, serif;
$font-tertiary: 'Amatic SC',cursive;

$white: #fff;
$black: #000000;
$darken: #3a4348;

$primary: #82ae46;
$secondary: #ffe6eb;

$color-1: #e4b2d6;
$color-2: #dcc698;
$color-3: #a2d1e1;
$color-4: #dcd691;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition:    all $transition ease;
  -o-transition:      all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: 		all $transition ease;
  transition:         all $transition ease;
}

html {
  // overflow-x: hidden;
}
body {
  font-family: $font-primary;
  background: $white;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: lighten($black,50%);
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
a {
  transition: .3s all ease;
  color: $primary;
  &:hover, &:focus {
    text-decoration: none;
    color: $primary;
  }
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  color: $black;
  font-family: $font-primary;
}

.text-primary {
  color: $primary!important;
}
.bg-light {
  background: #f7f6f2!important;
}

.bg-primary{
  background: $primary !important;
}
.bg-secondary{
  background: $secondary !important;
}

.bg-color-1{
  background: $color-1;
}
.bg-color-2{
  background: $color-2;
}
.bg-color-3{
  background: $color-3;
}
.bg-color-4{
  background: $color-4;
}
