<form action="#" class="billing-form">
    <h3 class="mb-4 billing-heading">Billing Details</h3>
    <div class="row align-items-end">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstname">Firt Name</label>
                <input id="firstname" type="text" class="form-control" placeholder="" value="{{this.accountCurrent.name}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input id="lastname" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="country">State / Country</label>
                <div class="select-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="country" class="form-control">
                        <option value="">France</option>
                        <option value="">Italy</option>
                        <option value="">Philippines</option>
                        <option value="">South Korea</option>
                        <option value="">Hongkong</option>
                        <option value="">Japan</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="streetaddress">Street Address</label>
                <input id="streetaddress" type="text" class="form-control" placeholder="House number and street name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="towncity">Town / City</label>
                <input id="towncity" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="postcodezip">Postcode / ZIP *</label>
                <input id="postcodezip" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone">Phone</label>
                <input id="phone" type="text" class="form-control" placeholder="" value="{{this.accountCurrent.phoneNumber}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="emailaddress">Email Address</label>
                <input id="emailaddress" type="text" class="form-control" placeholder="" value="{{this.accountCurrent.gmail}}">
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-12">
            <div class="form-group mt-4">
                <div class="radio">
                    <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                    <label><input type="radio" name="optradio"> Ship to different address</label>
                </div>
            </div>
        </div>
    </div>
</form><!-- END -->